<!DOCTYPE html>
<html>

    <head>
    {% block head %}
        <title>Foodfy</title>
        {% block style %}
            <link rel="stylesheet" href="style.css">
        {% endblock %}
{% endblock %}
    </head>

    <body>
        <header>
            <a href="/" class="logo"><img src="/images/logo.png" alt="Foodfy"></a>
            <div class="header-links">
            {% block about%}
                <a href="/about">Sobre</a>
            {% endblock %}

            {% block recipes %}
                <a href="/recipes">Receitas</a>
            {% endblock %}
            </div>
        </header>
    {% block content %}{% endblock %}


    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    {% block script %}
        <script src="script.js"></script>
    {% endblock %}
    </body>
</html>