{% extends "layout.njk" %}

{% block recipes %}
    <a id="on-pressed_recipes"href="/recipes">Receitas</a>
{% endblock %}

{% block content %}
    <div class="recipes">

    {% for recipe in recipes %}
        <div class="recipe" id="{{recipe.id}}">
            <img class="recipe-image"src="{{ recipe.image }}" alt="Triplo bacon burguer">
            <p class="recipe-title">{{ recipe.title }}</p>
            <p class="by">{{ recipe.author }}</p>
        </div>
    {% endfor %}

{% endblock %}